/* .hidden{
    display: none;
}
.header{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-top: 10px;     
}
.navbar a.active {
    color: black;
     /* Adjust active link color as needed */
    /* font-weight: bold; */
/* }

.logo,
.navbar a {
    color: rgb(23, 32, 101); /* Adjust text color as needed */
    /* text-decoration: none;
    margin: 0 15px;
}
.menu-icon,
.menu-close-icon {
    cursor: pointer;
}
#darkMode-icon{
    cursor: pointer;
} */ 